<?xml version="1.0"?>
<model>
  <name>Differential Drive Robot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Haoguang Yang</name>
   <email>yang1510@purdue.edu</email>
  </author>

  <description>
    Basic implementation of a two-wheel differential drive mobile robot.
  </description>
</model>
