<?xml version="1.0" ?>
<robot>
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="flat_black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

  <material name="grey">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
</robot>
