<?xml version="1.0" ?>
<robot name="omniveyor" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="gazebo" default="false"/>

  <xacro:include filename="omniveyor.materials.xacro"/>
  <xacro:if value="$(arg gazebo)">
    <!-- Gazebo Tags -->
    <!--xacro:include filename="$(find omniveyor_gazebo_world)/models/Omniveyor/omniveyor.gazebo.xacro"/-->
    <xacro:include filename="omniveyor.gazebo.xacro"/>
  </xacro:if>

  <!--tracking camera-->
  <link name="cam_t1_pose_frame">
  <xacro:if value="$(arg gazebo)">
    <inertial>
      <mass value="0.2"/>
      <inertia ixx="0.014395" ixy="0" ixz="0"
               iyy="0.00384" iyz="0" izz="0.014136"/>
    </inertial>
    <collision>
      <geometry>
        <box size="0.008 0.13 0.02"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <mesh filename="package://omniveyor_gazebo_world/models/intel_realsense_r200/meshes/realsense_r200.dae"/>
      </geometry>
    </visual>
  </xacro:if>
  </link>
  
  <!--front depth camera-->
  <link name="cam_d1_link">
  <xacro:if value="$(arg gazebo)">
    <inertial>
      <mass value="0.2"/>
      <inertia ixx="0.014395" ixy="0" ixz="0"
               iyy="0.00384" iyz="0" izz="0.014136"/>
    </inertial>
    <collision>
      <geometry>
        <box size="0.02 0.13 0.02"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <mesh filename="package://omniveyor_gazebo_world/models/intel_realsense_r200/meshes/realsense_r200.dae"/>
      </geometry>
    </visual>
  </xacro:if>
  </link>
  
  <!--rear depth camera-->
  <link name="cam_d2_link">
  <xacro:if value="$(arg gazebo)">
    <inertial>
      <mass value="0.2"/>
      <inertia ixx="0.014395" ixy="0" ixz="0"
               iyy="0.00384" iyz="0" izz="0.014136"/>
    </inertial>
    <collision>
      <geometry>
        <box size="0.02 0.13 0.02"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <mesh filename="package://omniveyor_gazebo_world/models/intel_realsense_r200/meshes/realsense_r200.dae"/>
      </geometry>
    </visual>
  </xacro:if>
  </link>

  <!--Hokuyo 20LX-->
  <link name="laser">
  <xacro:if value="$(arg gazebo)">
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.01" ixy="0" ixz="0"
               iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual name="visual">
      <origin xyz="0 0 -0.0175" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://omniveyor_gazebo_world/models/hokuyo/meshes/hokuyo.dae"/>
      </geometry>
    </visual>
    <collision name="collision-base">
      <origin xyz="0 0 -0.032" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.041"/>
      </geometry>
    </collision>
    <collision name="collision-top">
      <origin xyz="0 0 0.003" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.021" length="0.029"/>
      </geometry>
    </collision>
  </xacro:if>
  </link>

  <!--geometric center of omniveyor (on-ground)-->
  <link name="base_link">
  <xacro:if value="$(arg gazebo)">
    <inertial>
      <origin xyz="0 0 0.192" rpy="0 0 0"/>
      <mass value="29.82"/>
      <inertia ixx="1.209698" ixy="0" ixz="0"
          iyy="1.209698" iyz="0" izz="1.910468"/>
    </inertial>
    <collision>
      <origin xyz="-0.3752 0.3381 0.032" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://omniveyor_gazebo_world/models/Omniveyor/OV_Shell.STL"
              scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.3752 0.3381 0.032" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://omniveyor_gazebo_world/models/Omniveyor/OV_Shell.STL"
              scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </xacro:if>
  </link>

  <joint name="laser_joint" type="fixed">
  <!--laser connector from bottom (on-ground) center of omniveyor-->
    <parent link="base_link" />
    <child link="laser" />
    <origin xyz="0.27 0 0.10" rpy="0 0 0" />
  </joint>

  <joint name="front_t265_joint" type="fixed">
  <!--front tracking camera connector from bottom (on-ground) center of omniveyor-->
    <parent link="base_link" />
    <child link="cam_t1_pose_frame" />
    <origin xyz="0.285 -0.08 0.37" rpy="0. 0. 0." />
  </joint>
  
  <joint name="front_rs_joint" type="fixed">
  <!--front depth camera connector from bottom (on-ground) center of omniveyor-->
    <parent link="base_link" />
    <child link="cam_d1_link" />
    <origin xyz="0.285 0.08 0.37" rpy="0. 0.04 0." />
  </joint>

  <joint name="rear_rs_joint" type="fixed">
  <!--rear depth camera connector from bottom (on-ground) center of omniveyor-->
    <parent link="base_link" />
    <child link="cam_d2_link" />
    <origin xyz="-0.285 -0.08 0.37" rpy="0. 0.04 3.1416" />
  </joint>

</robot>
