<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find omniveyor_gazebo_world)/worlds/IMI-World.world"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="false"/>
  </include>

  <!--Spawn a default robot-->
  <include file="$(find omniveyor_gazebo_world)/launch/singleRobot.launch"/>

  <!--Spawn a second robot-->
  <!--include file="$(find omniveyor_gazebo_world)/launch/singleRobot.launch">
    <arg name="robot_name" value="robot_2"/>
    <arg name="x" value="1.0"/>
    <arg name="y" value="0.0"/>
  </include-->
  
</launch>
