<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="tracker.xacro"/>

    <xacro:realsense_T265 sensor_name="cam_t1" parent_link="base_link" rate="50.0">
        <origin xyz="0.285 -0.08 0.37" rpy="0 0 0" />
    </xacro:realsense_T265>

    <xacro:include filename="depthcam.xacro"/>

    <xacro:realsense_d435 sensor_name="cam_d1" parent_link="base_link" rate="15">
        <origin xyz="0.285 0.08 0.37" rpy="0 0.04 0" />
    </xacro:realsense_d435>

    <xacro:realsense_d435 sensor_name="cam_d2" parent_link="base_link" rate="15">
        <origin xyz="-0.285 -0.08 0.37" rpy="0 0.04 ${pi}" />
    </xacro:realsense_d435>
</robot> 
